name: Build and Push Docker Image

on:
  push:
    branches: [ "master" ]
  schedule:
    - cron: '0 22 * * 5'  # Every Friday at 10 PM UTC

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: purpleteamsoftware/kali-linux

    steps:
      - name: Checkout from GitHub
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64/v8
          tags: ${{ env.IMAGE_NAME }}:latest
          no-cache: true

      - name: Prune Docker images
        run: docker image prune -fa
